*{
	/*display: none;*/
	/*border: 1px solid red;*/
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	/*background-color: #f4f4f4;*/
}

.longkap{
	display: none;
}

.navbar-gw{
	background-color: lightblue !important;
}

.kasus-all{
	margin-top: 80px;
}

.indonesia{
	position: relative;
}

.indonesia h1{
	color: #073b4c;
	margin-bottom: 20px;
	font-size: 60px;
	font-family: 'Patua One', cursive;
}

.indonesia h2{
	color: #333;
	text-shadow: 2px 2px 3px #ddd;
	margin: 15px;
	font-size: 28px;
}

.indonesia h3{
	font-size: 38px;
}

.indonesia h4{
	font-size: 50px;
	text-shadow: 1px 1px 1px #333;
	letter-spacing: 1px;
	font-weight: 800;
}

.virus1{
	position: absolute;
	bottom: 100px;
	left: 0;
	width: 70px;
}

.virus2{
	position: absolute;
	top: 100px;
	right:  0;
	width: 100px;
}


.daerah h1{
	color: #073b4c;
	margin-bottom: 20px;
	font-size: 60px;
	font-family: 'Patua One', cursive;
}

.daerah h2{
	color: #073b4c;
	/*text-shadow: 2px 2px 3px #ddd;*/
	margin: 15px;
	font-size: 28px;
	font-family: 'Patua One', cursive;
}

.daerah h3{
	font-size: 38px;
	font-family: 'Prompt', sans-serif;
}

.daerah h4{
	font-size: 50px;
	text-shadow: 1px 1px 1px #333;
	letter-spacing: -2px;
	font-weight: 800;
	font-family: 'Prompt', sans-serif;
}


.kasus-all h1,h2{
	text-align: center;

}

.daerah h3,h4{
	color: #073b4c;
	font-family: 'Prompt', sans-serif;
}

.indonesia h3{
	color: #073b4c ;
	font-family: 'Prompt', sans-serif;
	font-size: 42px;
}

.indonesia .meninggal h4{
	color: #ef4747;
}

.indonesia .sembuh h4{
	color: #06d680;
}
.indonesia .positif h4{
	color: #ffde66;
}
.indonesia{
	margin-bottom: 100px;
}

.indonesia .data{
	flex-direction: column;
}

.indonesia .kasus{
	margin-top: 0;
}

.data{
	display: flex;
/*	flex-direction: column;*/
	justify-content: space-around;
	align-items: center;
}

.kasus{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-around;
	padding: 20px 20px;
}

.indonesia .kasus{
	border: none;
}

.daerah .sembuh h4 {
	color: #06d680;
}
.daerah .positif h4{
	color: #ffde66;
}

.daerah .meninggal h4{
	color: #ef4747;
}

.judul-daerah{
	color: #073b4c;
	margin-bottom: 20px;
	font-size: 60px;
	font-family: 'Patua One', cursive;
}


.kasus-daerah{
	padding: 20px 50px;
}

/*.daerah {
	display: flex;
	margin-top: 10px;
	justify-content: space-around;
}*/

form{
	/*margin: 0 auto;*/
	text-align: center;
}

form select{
	padding: 5px;
	background-color: #fff;
	border: 2px solid #118ab2 ;
	border-radius: 15px;
	color: #118ab2;
	font-weight: 700;
}

form select option{
	color: #118ab2;
	}

input[type="submit"]{
	background-color: #fff;
	padding: 5px 20px;
	border: 2px solid #118ab2;
	color: #118ab2;
	font-size: 14px;
	font-weight: 700;
	border-radius: 100px;
}

input[type="submit"]:hover{
	background-color: #118ab2;
	color: #fff;
	cursor: pointer;
	transition:  .5s;
}

label{
	font-size: 22px;
	color: #118ab2;
	text-shadow: 1px 1px 2px #fff;
	font-weight: 700;
}

.pencegahan{
	position: relative;
}



.tanda-pencegahan{
	position: absolute;
	background-color: red;
	width: 20px;
	height: 20px;
	top: -80px;
	visibility: hidden;
}

.pencegahan-box img{
	width: 400px;
	height: 250px;
}

.pencegahan h2{
	font-family: 'Secular One', sans-serif;
}

.pencegahan h2{
	font-size: 50px;
	/*color: #073b4c;*/
	color: #333;
}

.pencegahan-box p{
	font-size: 17px;
}


.error{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(100, 100, 100, .8);
}

.box-error{
	max-width: 600px;
	max-height: 300px;
	background-color: #fff;

	margin: 200px auto;
	padding: 20px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	border: 3px solid #333;

	transition: ease 1s;
}

.box-error h6{
	font-size: 42px;
	color: #333;
}

.error-button{
	text-decoration: none;
	color: #333;
	padding: 10px;
	border: 2px solid #333;
	background-color: #eee;
	border-radius: 5px;
	margin-top: 20px;
	background-color: lightgreen;
	font-weight: 700;
}

.refresh{
	position: fixed;
	top: 0px;
	left: 5px;

}



@media (max-width:481px){

	.longkap{
		display: block;
	}

	h1{
		font-size: 32px;
	}

	.judul-daerah{
		font-size: 32px;
	}

	h2{
		font-size: 24px;
	}

	.data{
		flex-direction: column;
	}

	.kasus{
		margin: 10px 0;
	}

	.pencegahan-box img{
		width: 250px;
		height: 140px;
	}
}