*{
	/*display: none;*/
	/*border: 1px solid red;*/
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	max-width: 1020px;
	margin: 0 auto;
	padding: 10px;
	margin-top: 20px;
}

.indonesia{
	margin-bottom: 100px;
}

.indonesia h1{
	text-align: center;
}

.data-indonesia{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.kasus-indonesia{
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 20px;
}

.judul-daerah{
	text-align: center;
}

.daerah {
	display: flex;
	margin-top: 10px;
	justify-content: space-around;
}

.daerah h1{
	text-align: center;
}
