*{
	/*display: none;*/
	/*border: 1px solid red;*/
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #f4f4f4;
	overflow-x: hidden;
}

.longkap{
	display: none;
}

.navbar-gw{
	background-color: lightblue !important;
}

.navbar-brand {
	font-family: 'Anton', cursive;
	color: #333 !important;
	font-size: 24px !important;
	letter-spacing: 1px;
	/*margin-top: 2px;*/
}

.navbar-brand span{
	font-family: 'Anton', cursive;
	color: #ef4747 !important;
	text-shadow: 1px 1px 1px #333;
}

.kasus-all{
	margin-top: 80px;
}

.indonesia{
	position: relative;
}

.indonesia h1{
	color: #073b4c;
	margin-bottom: 20px;
	font-size: 60px;
	font-family: 'Patua One', cursive;
}

.indonesia h2{
	color: #333;
	text-shadow: 2px 2px 3px #ddd;
	margin: 15px;
	font-size: 28px;
}

.indonesia h3{
	font-size: 38px;
}

.indonesia h4{
	font-size: 50px;
	text-shadow: 1px 1px 1px #333;
	letter-spacing: 1px;
	font-weight: 800;
}

.virus1{
	position: absolute;
	bottom: -50px;
	left: -500px;
	width: 600px;
}

.virus2{
	position: absolute;
	bottom: -200px;
	right:  -250px;
	width: 500px;
}

.virus3{
	position: absolute;
	width: 200px;
	bottom: -150px;
	left: 20px;
}


.virus4{
	position: absolute;
	width: 150px;
	left: 150px;
	top: 150px;
	z-index: 2;
}

.virus5{
	position: absolute;
	width: 100px;
	z-index: 2;
	right: 300px;
	top: 100px;
}

.tameng{
	position: absolute;
	width: 400px;
	top: 100px;
	right: -115px;
	transform: rotateY(180deg)

}




.daerah h1{
	color: #073b4c;
	margin-bottom: 20px;
	font-size: 60px;
	font-family: 'Patua One', cursive;
}

.daerah h2{
	color: #073b4c;
	/*text-shadow: 2px 2px 3px #ddd;*/
	margin: 15px;
	font-size: 42px;
	font-family: 'Patua One', cursive;
}

.daerah h3{
	font-size: 38px;
	font-family: 'Prompt', sans-serif;
}

.daerah h4{
	font-size: 50px;
	text-shadow: 1px 1px 1px #333;
	letter-spacing: -2px;
	font-weight: 800;
	font-family: 'Prompt', sans-serif;
}


.kasus-all h1,h2{
	text-align: center;

}

.daerah h3,h4{
	color: #073b4c;
	font-family: 'Prompt', sans-serif;
}

.indonesia h3{
	color: #073b4c ;
	font-family: 'Prompt', sans-serif;
	font-size: 42px;
}

.indonesia .meninggal h4{
	color: #ef4747;
}

.indonesia .sembuh h4{
	color: #06d680;
}
.indonesia .positif h4{
	color: #ffde66;
}
.indonesia{
	margin-bottom: 100px;
}

.indonesia .data{
	flex-direction: column;
}

.indonesia .kasus{
	margin-top: 0;
}

.data{
	display: flex;
/*	flex-direction: column;*/
	justify-content: space-around;
	align-items: center;
}

.kasus{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-around;
	padding: 20px 20px;
}

.indonesia .kasus{
	border: none;
}

.daerah .kasus h4{
	letter-spacing: 2px;
}

.daerah .sembuh h4 {
	color: #06d680;
}
.daerah .positif h4{
	color: #ffde66;
}

.daerah .meninggal h4{
	color: #ef4747;
}

.judul-daerah{
	color: #073b4c;
	margin-bottom: 20px;
	font-size: 60px;
	font-family: 'Patua One', cursive;
}


.kasus-daerah{
	padding: 20px 50px;
}

/*.daerah {
	display: flex;
	margin-top: 10px;
	justify-content: space-around;
}*/

form{
	/*margin: 0 auto;*/
	text-align: center;
}

form select{
	padding: 5px 20px;
	background-color: #fff;
	border: 2px solid #118ab2 ;
	border-radius: 20px;
	color: #118ab2;
	font-weight: 700;
	font-size: 18px;
	cursor: pointer;
}

form select option{
	color: #118ab2;
	}

input[type="submit"]{
	background-color: #fff;
	padding: 5px 20px;
	border: 2px solid #118ab2;
	color: #118ab2;
	font-size: 18px;
	font-weight: 700;
	border-radius: 100px;
}

input[type="submit"]:hover{
	background-color: #118ab2;
	color: #fff;
	cursor: pointer;
	transition:  .5s;
}

label{
	font-size: 32px;
	color: #118ab2;
	text-shadow: 1px 1px 2px #fff;
	font-weight: 700;
}

.pencegahan{
	position: relative;
}



.tanda-pencegahan{
	position: absolute;
	background-color: red;
	width: 20px;
	height: 20px;
	top: -80px;
	visibility: hidden;
}

.pencegahan-box img{
	width: 400px;
	height: 250px;
}


.pencegahan h2{
	font-size: 50px;
	/*color: #073b4c;*/
	color: #333;
	font-family: 'Secular One', sans-serif;
}

.pencegahan-box p{
	font-size: 17px;
}

.gejala {
	/*margin-bottom: 100px;*/
	position: relative;
}

.tanda-gejala{
	position: absolute;
	top: -70px;
	left: 0;
	visibility: hidden;

}

.gejala-box img{
	width: 400px;
	box-shadow: 1px 1px 3px #333;
}


.gejala h2{
	font-family: 'Secular One', sans-serif;
	font-size: 50px;
}

.gejala h3{
	font-size: 32px;
}

.gejala li{
	list-style: circle;
	font-size: 20px;
}

.gejala .gejala-card{
	justify-content: center;
	flex-direction: column;
}

.gejala-card img{
	width: 170px;
	height: 170px;
	text-align: center;
	box-shadow: 1px 1px 3px #333;
}

.gejala h4{
	text-align: center;
	margin-top: 10px;
}

.telepon{
	margin-top: 50px;
}

.telepon h2{
	font-size: 42px;
	/*color: #073b4c;*/
	color: #333;
	font-family: 'Secular One', sans-serif;
	margin-bottom: 20px;
}

span{
	color: #ef4747;
	text-shadow: .5px .5px 1px #333;
	font-family: 'Secular One', sans-serif;
}

.telepon h3{
	font-size: 28px;
}

.telepon p{
	font-size: 24px;
}



.telepon i{
	margin-right: 7px;
}



footer{
	background-color: #111;
	padding-top: 40px;
	padding-bottom: 10px;
	color: #999;
}

.footer-judul{
	font-size: 24px;
	color: #fff;
}

footer li {
	list-style: none;
}

footer i{
	width: 0px;
}
/*
footer p{
	color: #fff;
}*/

footer a{
	color: #999;
	text-decoration: none;
}

footer a:hover{
	color: #fff;
}

footer i{
	margin-right: 35px;
}

footer h6{
	margin-bottom: 20px;
}
/*
footer p{
	margin-top: 20px;
}*/


.error{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(100, 100, 100, .8);
}

.box-error{
	max-width: 600px;
	max-height: 300px;
	background-color: #fff;

	margin: 200px auto;
	padding: 20px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	border: 3px solid #333;

	transition: ease 1s;
}

.box-error h6{
	font-size: 42px;
	color: #333;
}

.error-button{
	text-decoration: none;
	color: #333;
	padding: 10px;
	border: 2px solid #333;
	background-color: #eee;
	border-radius: 5px;
	margin-top: 20px;
	background-color: lightgreen;
	font-weight: 700;
}

.refresh{
	position: fixed;
	top: 0px;
	left: 5px;

}

.copyright{
	text-align: center;
	color: #eee;
}

@media (max-width:1200px){
	.virus1, .virus2, .virus3, .virus4, .virus5, .tameng{
		display: none;
	}
}

@media (max-width:481px){
	.indonesia h1{
		font-size: 50px;
	}

	.longkap{
		display: block;
	}

	.virus1, .virus2, .virus3, .virus4, .virus5, .tameng{
		display: none;
	}

	h1{
		font-size: 32px;
	}

	.judul-daerah{
		font-size: 48px;
	}

	h2{
		font-size: 24px;
	}

	.data{
		flex-direction: column;
	}

	.kasus{
		margin: 10px 0;
	}

	form select{
		padding: 5px;
	}

	.pencegahan-box img{
		width: 250px;
		height: 140px;
	}

	.pencegahan-box h3{
		text-align: center !important;
	}

	.gejala h2{
		font-size: 42px;
	}


}
